body {
    display: flex;
    align-items: center;
    height: 100vh;

    background-color:whitesmoke;
}

#plain-segment {
    margin-top: 35px;
}

#key-form {
    padding-top: 15px;
}

#plain {
    text-align: center;
}

#links {
    margin-bottom: -15px;
}

#center-pane {
    background-color: #ff8848;
}
